headers{
padding: 20px;
text-align: center;
color: black;
font-family: "Comic Sans Ms", Arail;
}

html{
background-color: green;
}

nav{
overflow: hidden;
background-color: #333;
}

nav a{
padding: 50px;
text-decoration: none;
color: White;
}

nav a:hover{
background-color: black;
color: White;
}

.c{
text-align: center;
clear: both;
}